/* Place your CSS styles in this file */

body {
  background-image: url(blue-sky-clouds-daytime-stock-photo-glenn-meling-0068.jpg);
  font-family: sans-serif;
  /*padding: 20px;*/
}

main
    {
    width: 65%;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    margin-left: auto;         
    margin-right: auto;
    padding: 20px;
    }

label {
  display: block;
  margin: 0.5rem 0;
}

input 
{
  margin: 10px 0 0 0;
  margin-left: auto;         
  margin-right: auto; 
}


img
    {
    margin-left: auto;         
    margin-right: auto;   
    }



h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;

}
